<%= form_for @heroine_power do |f| %>
<% if @heroine_power.errors.any? %>
    <h2>There were some errors:</h2>
    <ul>
      <% @heroine_power.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :heroine %>
  <%= f.collection_select :heroine_id, Heroine.all, :id, :name, prompt: true %>
  <br />
  <br>
  <%= f.label :power %>
  <%= f.collection_select :power_id, Power.all, :id, :name, prompt: true %>
  
  <br>
  <br>
  <%= f.label :strength %>
  <%= f.text_field :strength %>
  <br><br>

  <%= f.submit %>
<% end %>