<ul>

<%if @heroine_power.errors.any?%>
  <%@heroine_power.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
  <%end%>
<%end%>

</ul>


<%= form_for @heroine_power do |f|%>
<br>
<%= f.label :heroine_id %>
<%= f.collection_select :heroine_id, Heroine.all, :id, :name%>
<br>
<%= f.label :power_id %>
<%= f.collection_select :power_id, Power.all, :id, :name%>
<br>
<%= f.label :strength %>
<%= f.text_field :strength %>
<br>
<%= f.submit "Create Heroine Power"%>
<%end%>
